{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true}],
    "no-console": "off",
    "no-unused-vars": "warn",
    "func-names": "off",
    "consistent-return": "off",
    "no-param-reassign": "off"
  },
  "env": {
    "jest": true
  }
}